@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.disable-hover { pointer-events: none !important; }

* { box-sizing: border-box; }

a { color: inherit; }

.reasons-icons-sprite, .reasons-icons-reasons-icon-1, .reasons-icons-reasons-icon-2, .reasons-icons-reasons-icon-3 { background-image: url('../img/reasons-icons.png'); background-repeat: no-repeat; }

.reasons-icons-reasons-icon-1 { background-position: 0 0; height: 25px; width: 19px; }

.reasons-icons-reasons-icon-2 { background-position: 0 -25px; height: 19px; width: 19px; }

.reasons-icons-reasons-icon-3 { background-position: 0 -44px; height: 17px; width: 8px; }

@font-face { font-family: "Museo Sans 300"; src: url("fonts/MuseoSans-300.eot"); src: url("fonts/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSans-300.woff2") format("woff2"), url("fonts/MuseoSans-300.woff") format("woff"), url("fonts/MuseoSans-300.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Museo Sans 500"; src: url("fonts/MuseoSans-500.eot"); src: url("fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSans-500.woff2") format("woff2"), url("fonts/MuseoSans-500.woff") format("woff"), url("fonts/MuseoSans-500.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Museo Sans 700"; src: url("fonts/MuseoSans-700.eot"); src: url("fonts/MuseoSans-700.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSans-700.woff2") format("woff2"), url("fonts/MuseoSans-700.woff") format("woff"), url("fonts/MuseoSans-700.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Museo Sans 900"; src: url("fonts/MuseoSans-900.eot"); src: url("fonts/MuseoSans-900.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSans-900.woff2") format("woff2"), url("fonts/MuseoSans-900.woff") format("woff"), url("fonts/MuseoSans-900.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Museo Slab 500"; src: url("fonts/MuseoSlab-500.eot"); src: url("fonts/MuseoSlab-500.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSlab-500.woff2") format("woff2"), url("fonts/MuseoSlab-500.woff") format("woff"), url("fonts/MuseoSlab-500.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Myriad Pro Regular"; src: url("fonts/MyriadPro-Regular.eot"); src: url("fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadPro-Regular.woff2") format("woff2"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
/*------------------------------------------------------------------------- */
/*----------------------------- MAIN STYLES ------------------------------- */
/*------------------------------------------------------------------------- */
a:hover, a:focus { text-decoration: none; color: inherit; }

p a { color: #30c6a5; }
p a:hover, p a a:focus { color: #218872; }

svg { width: 100%; height: 100%; }

body { min-width: 1024px; font-family: "Museo Sans 300", Arial, sans-serif; font-size: 14px; line-height: 1.3; letter-spacing: 0.02em; }

#menu_toggle { display: none; float: right; position: relative; overflow: hidden; margin-top: 5px; margin-left: 25px; width: 24px; height: 24px; font-size: 0; text-indent: -9999px; appearance: none; background-color: transparent; cursor: pointer; -webkit-transition: background 0.3s; transition: background 0.3s; -webkit-transition: margin 0.2s; transition: margin 0.2s; }
#menu_toggle span { display: block; position: absolute; top: 50%; left: 0; right: 0; height: 2px; background: white; -webkit-transition: background 0s 0.3s; transition: background 0s 0.3s; }
#menu_toggle span:before, #menu_toggle span:after { position: absolute; display: block; left: 0; width: 100%; height: 2px; background-color: #fff; content: ""; -webkit-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: 0.3s, 0s; transition-delay: 0.3s, 0s; }
#menu_toggle span:before { top: -7px; -webkit-transition-property: top, -webkit-transform; transition-property: top, transform; }
#menu_toggle span:after { bottom: -7px; -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, transform; }
#menu_toggle.is-active { background-color: transparent; }
#menu_toggle.is-active span { background: none; }
#menu_toggle.is-active span:before { top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
#menu_toggle.is-active span:after { bottom: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
#menu_toggle.is-active span:before, #menu_toggle.is-active span:after { -webkit-transition-delay: 0s, 0.3s; transition-delay: 0s, 0.3s; }

.header { overflow: hidden; min-width: 1024px; position: relative; color: #fff; min-height: 100%; background-image: url("../img/header-bg.jpg"); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.logo { font-family: "Museo Sans 500", Arial, sans-serif; font-size: 30px; line-height: 35px; letter-spacing: 0; }
.logo span { color: #1abc9c; }

.header__top { position: fixed; z-index: 1000; top: 0; left: 0; right: 0; padding-top: 50px; -webkit-transition: all 0.3s; transition: all 0.3s; }
.header__top .sign-btn { float: right; padding: 0 15px; font-size: 16px; line-height: 33px; letter-spacing: 0; border: 1px solid #fff; border-radius: 3px; background-color: transparent; box-sizing: border-box; -webkit-transition: all 0.2s; transition: all 0.2s; }
.header__top .sign-btn:hover { color: #1abc9c; background-color: #fff; -webkit-transition: all 0.2s; transition: all 0.2s; }
.header__top .nav-main { float: right; margin-right: 15px; letter-spacing: 0; }
.header__top .nav-main li { display: inline-block; margin-left: 15px; margin-right: 15px; font-size: 16px; line-height: 35px; }
.header__top .nav-main li a { border-bottom: 2px solid transparent; }
.header__top .nav-main li a:hover { border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
.header__top .nav-main li.is-active a { border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
.header__top.fixed { position: fixed; top: 0; left: 0; right: 0; padding-top: 2px; padding-bottom: 2px; background-color: #30c6a5; border-bottom: 2px solid #2bb194; box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); -webkit-transition: all 0.3s; transition: all 0.3s; }
.header__top.fixed .logo span { color: #1c7461; }

.header__bot { position: absolute; top: 40%; left: 0; right: 0; text-align: center; }
.header__bot p { font-family: "Museo Sans 500", Arial, sans-serif; font-size: 16px; line-height: 24px; letter-spacing: 0.04em; text-shadow: 0 1px 7px rgba(7, 7, 7, 0.15); }
.header__bot h2 { margin-top: 15px; font-family: "Museo Sans 500", Arial, sans-serif; font-size: 32px; line-height: 36px; text-shadow: 0 1px 7px rgba(7, 7, 7, 0.15); text-transform: uppercase; }
.header__bot .start-btn { margin-top: 25px; padding: 15px 40px; font-family: "Museo Sans 700", Arial, sans-serif; font-size: 18px; line-height: 30px; background-color: #30c6a5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3MDcwNyIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(7, 7, 7, 0.05)), color-stop(100%, rgba(255, 255, 255, 0.05))); background-image: -webkit-linear-gradient(bottom, rgba(7, 7, 7, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%); background-image: linear-gradient(to top, rgba(7, 7, 7, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%); box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); border-radius: 3px; }
.header__bot .start-btn:hover { background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3MDcwNyIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMDUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(7, 7, 7, 0.25)), color-stop(100%, rgba(255, 255, 255, 0.05))); background-image: -webkit-linear-gradient(bottom, rgba(7, 7, 7, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%); background-image: linear-gradient(to top, rgba(7, 7, 7, 0.25) 0%, rgba(255, 255, 255, 0.05) 100%); }

.find { margin-top: -60px; margin-bottom: 80px; padding: 20px 30px; background-color: #fff; border: 1px solid #e0e7ee; }
.find__top { *zoom: 1; }
.find__top:after { content: ""; display: table; clear: both; }
.find__top p { float: left; font-size: 18px; color: #78909c; line-height: 24px; letter-spacing: 0.04em; }
.find__top p button { font-family: "Museo Sans 700", Arial, sans-serif; color: #30c6a5; background-color: transparent; }
.find__top .adv-option-btn { float: right; font-family: "Museo Sans 500", Arial, sans-serif; color: #30c6a5; line-height: 24px; }
.find__bot { margin-top: 15px; *zoom: 1; }
.find__bot:after { content: ""; display: table; clear: both; }
.find__bot select { height: 38px; }
.find__bot .selectric-wrapper { float: left; width: 37%; margin-right: 3%; }
.find__bot .selectric-wrapper .selectric-items { background-color: #fff; }
.find__bot .selectric-wrapper .selectric-items li { border-top: none; border-bottom: 1px solid #ccc; }
.find__bot .selectric-wrapper .selectric-items li:last-child { border-bottom: none; }
.find__bot .selectric-wrapper .selectric-items li.selected { background-color: #baeee3; }
.find__bot .selectric-wrapper.selectric-open .selectric { background-color: #baeee3; }
.find__bot .q-search-btn { width: 20%; height: 40px; font-family: "Museo Sans 500", Arial, sans-serif; font-size: 16px; color: #fff; letter-spacing: 0.08em; background-color: #30c6a5; border-radius: 3px; -webkit-transition: all 0.2s; transition: all 0.2s; }
.find__bot .q-search-btn:hover { background-color: #218872; -webkit-transition: all 0.2s; transition: all 0.2s; }

.search { color: #78909c; }
.search__img img { vertical-align: bottom; }
.search__inner { margin-top: 25px; }
.search__quote { font-family: "Museo Sans 700", Arial, sans-serif; font-size: 16px; }
.search__title { margin-top: 25px; margin-bottom: 15px; font-family: "Museo Sans 700", Arial, sans-serif; font-size: 24px; color: #455a64; }
.search__skills { margin-left: -10px; *zoom: 1; }
.search__skills:after { content: ""; display: table; clear: both; }
.search__skills li { float: left; margin-left: 20px; }
.search__skills li:before { content: ""; display: inline-block; margin-right: 5px; width: 5px; height: 5px; border-radius: 5px; background-color: #78909c; vertical-align: 2px; }
.search__price { margin-top: 35px; font-family: "Museo Sans 700", Arial, sans-serif; font-size: 24px; color: #455a64; line-height: 40px; *zoom: 1; }
.search__price:after { content: ""; display: table; clear: both; }
.search__price:first-letter { font-family: "Museo Sans 300", Arial, sans-serif; }
.search__price p { float: left; margin-right: 25px; }
.search__price .profile-btn { float: left; width: 115px; font-size: 15px; color: #30c6a5; border: 2px solid #30c6a5; border-radius: 3px 0 0 3px; text-align: center; }
.search__price .hire-btn { float: left; width: 115px; font-size: 15px; color: #fff; border: 2px solid #30c6a5; border-radius: 0 3px 3px 0; background-color: #30c6a5; text-align: center; }

.work { position: relative; color: #fff; background-color: #30c6a5; *zoom: 1; }
.work:after { content: ""; display: table; clear: both; }
.work__inner { position: absolute; z-index: 2; top: 0; bottom: 0; left: 0; right: 0; }
.work__inner h2 { margin-top: 50px; font-family: "Museo Sans 700", Arial, sans-serif; }
.work__inner p { margin-top: 25px; }
.work .more-link { position: absolute; z-index: 3; bottom: 0; left: 0; right: 0; height: 70px; font-size: 20px; line-height: 70px; background-color: #1abc9c; }
.work .more-link a { display: block; }
.work__video { position: relative; z-index: 10; float: right; width: 50%; }
.work__video iframe { vertical-align: bottom; }

.top { padding-top: 90px; padding-bottom: 90px; }
.top__title { *zoom: 1; }
.top__title:after { content: ""; display: table; clear: both; }
.top__title p { color: #546e7a; }
.top__title h2 { float: left; margin-top: 10px; font-family: "Museo Sans 700", Arial, sans-serif; font-size: 24px; color: #455a64; line-height: 30px; }
.top__title h2 + p { float: right; margin-top: 10px; font-family: "Museo Sans 500", Arial, sans-serif; line-height: 30px; }
.top__title h2 + p span { color: #30c6a5; }
.top__inner { margin-top: 35px; }
.top__inner li { display: table; padding: 15px; border-top: 1px solid #e0e7ee; border-left: 1px solid #e0e7ee; border-right: 1px solid #e0e7ee; -webkit-transition: all 0.3s; transition: all 0.3s; *zoom: 1; }
.top__inner li:after { content: ""; display: table; clear: both; }
.top__inner li:last-child { border-bottom: 1px solid #e0e7ee; }
.top__inner li:hover { background-color: #e3f8f4; -webkit-transition: all 0.3s; transition: all 0.3s; }
.top__inner li .top__in { display: table-cell; padding: 0 5px; font-family: "Museo Sans 500", Arial, sans-serif; font-size: 13px; color: #78909c; text-align: center; vertical-align: middle; }
.top__inner li .top__in:nth-child(1) { width: 8%; }
.top__inner li .top__in:nth-child(2) { width: 30%; }
.top__inner li .top__in:nth-child(3) { width: 10%; }
.top__inner li .top__in:nth-child(4) { width: 15%; }
.top__inner li .top__in:nth-child(5) { width: 17%; }
.top__inner li .top__in:nth-child(6) { width: 20%; }
.top__inner li .top__in.top-name p { font-family: "Museo Sans 700", Arial, sans-serif; font-size: 18px; color: #455a64; letter-spacing: 0.04em; }
.top__inner li .top__in.top-name p + p { font-family: "Museo Sans 300", Arial, sans-serif; font-size: 14px; color: #78909c; letter-spacing: 0.02em; }
.top__inner li .top__in .profile-btn { display: inline-block; padding: 0 15px; font-size: 13px; color: #30c6a5; line-height: 26px; border: 1px solid #30c6a5; border-radius: 3px; -webkit-transition: all 0.2s; transition: all 0.2s; }
.top__inner li .top__in .profile-btn:hover { color: #fff; background-color: #30c6a5; -webkit-transition: all 0.2s; transition: all 0.2s; }
.top__inner li img { width: 51px; height: 51px; border-radius: 50%; }

.teams__title p { color: #546e7a; }
.teams__title h2 { margin-top: 8px; font-family: "Museo Sans 700", Arial, sans-serif; font-size: 24px; color: #455a64; }
.teams__item { margin-top: 35px; -webkit-transition: all 0.3s; transition: all 0.3s; }
.teams__item:hover { box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -webkit-transition: all 0.3s; transition: all 0.3s; }
.teams__img { position: relative; overflow: hidden; display: block; height: 200px; background-color: #455a64; }
.teams__img > img { position: relative; bottom: 50%; left: -50%; opacity: 0.5; }
.teams__el { position: absolute; top: 35%; left: 0; width: 100%; font-family: "Museo Sans 500", Arial, sans-serif; font-size: 18px; color: #fff; text-align: center; }
.teams__el img { margin-bottom: 10px; }
.teams__inner { font-family: "Museo Sans 500", Arial, sans-serif; color: #30c6a5; font-size: 13px; line-height: 41px; text-align: center; border-radius: 0 0 3px 3px; border-left: 1px solid #e0e7ee; border-right: 1px solid #e0e7ee; border-bottom: 1px solid #e0e7ee; }
.teams__inner span + span { color: #78909c; }

.reasons { position: relative; }
.reasons__bg { position: absolute; top: 90px; bottom: 90px; right: 0; width: 50%; background: url("../img/reasons-bg.jpg") no-repeat left center; background-size: auto 100%; }
.reasons__line { padding-top: 90px; padding-bottom: 90px; border-top: 1px solid #e1e3e4; }
.reasons__title p { color: #546e7a; }
.reasons__title h2 { margin-top: 10px; font-family: "Museo Sans 700", Arial, sans-serif; font-size: 24px; color: #455a64; letter-spacing: 0.04em; }
.reasons__list li { margin-top: 40px; }
.reasons__list li h3 { font-family: "Museo Sans 700", Arial, sans-serif; font-size: 18px; color: #546e7a; letter-spacing: 0.04em; }
.reasons__list li h3:before { content: ""; display: inline-block; margin-right: 10px; width: 19px; height: 25px; vertical-align: -2px; background-image: url("../img/reasons-icons.png"); background-repeat: no-repeat; background-position: 0 0; }
.reasons__list li h3 + p { margin-top: 10px; color: #78909c; }
.reasons__list li + li h3:before { height: 19px; background-position: 0 -25px; }
.reasons__list li + li + li h3:before { height: 17px; background-position: 0 -44px; }

.quotes { padding-top: 150px; background-image: url("../img/quotes-bg.jpg"); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.quotes-slider { position: relative; margin: 0 auto; padding: 30px 30px 100px 30px; width: 370px; color: #78909c; background-color: #fff; border-radius: 3px 3px 0 0; box-shadow: inset 0 -4px 13px rgba(7, 7, 7, 0.16); }
.quotes-slider:before { content: "“"; position: absolute; top: -32px; left: -32px; width: 64px; height: 64px; font-family: Arial, sans-serif; font-size: 100px; color: #b0bec5; line-height: 115px; text-indent: 15px; background-color: #fff; border-radius: 50%; box-shadow: 2.5px 1.7px 0 rgba(38, 50, 56, 0.1); }
.quotes-slider p + p { margin-top: 12px; font-family: "Museo Sans 500", Arial, sans-serif; font-size: 18px; color: #455a64; }
.quotes-slider p + p + p { margin-top: 5px; font-size: 14px; color: #30c6a5; }
.quotes-slider.slick-slider { margin-bottom: 0; }
.quotes-slider .slick-dots { margin-left: -30px; bottom: 40px; }
.quotes-slider .slick-dots li { margin: 0 17px; width: 10px; height: 10px; }
.quotes-slider .slick-dots li button { width: 100%; height: 100%; border-radius: 10px; background-color: #d7e1e5; }
.quotes-slider .slick-dots li button:before { content: none; }
.quotes-slider .slick-dots li.slick-active button { background-color: #30c6a5; }

.footer { min-width: 1024px; font-family: "Museo Sans 500", Arial, sans-serif; color: #a8b6bc; letter-spacing: 0.04em; }
.footer__top { padding-top: 80px; padding-bottom: 80px; }
.footer__top h3 { font-family: "Museo Sans 700", Arial, sans-serif; font-size: 18px; color: #546e7a; margin-bottom: 15px; }
.footer__top a:hover { color: #30c6a5; }
.footer__top .col-1 .logo { display: inline-block; color: #546e7a; }
.footer__top .col-1 p { margin-top: 10px; }
.footer__top .col-1 .newsletter { margin-top: 15px; font-size: 16px; line-height: 45px; *zoom: 1; }
.footer__top .col-1 .newsletter:after { content: ""; display: table; clear: both; }
.footer__top .col-1 .newsletter input { float: left; padding-left: 15px; padding-right: 15px; width: 60%; background-color: #eaebed; border-radius: 3px 0 0 3px; -webkit-transition: all 0.2s; transition: all 0.2s; }
.footer__top .col-1 .newsletter input:focus { box-shadow: inset 0 0 5px #1abc9c; -webkit-transition: all 0.2s; transition: all 0.2s; }
.footer__top .col-1 .newsletter fieldset.has-error input { box-shadow: inset 0 0 5px #FF0000; }
.footer__top .col-1 .newsletter button { float: left; width: 40%; color: #fff; text-transform: uppercase; background-color: #30c6a5; border-radius: 0 3px 3px 0; -webkit-transition: all 0.2s; transition: all 0.2s; }
.footer__top .col-1 .newsletter button:hover { background-color: #218872; -webkit-transition: all 0.2s; transition: all 0.2s; }
.footer__top .col-1 .newsletter .help-block { display: block; line-height: 1.5; }
.footer__top .col-1 .socials { margin-top: 15px; padding: 0 30px; text-align: justify; }
.footer__top .col-1 .socials li { float: left; width: 16.66667%; font-size: 20px; text-align: center; }
.footer__top .col-3 .col-date { margin-top: 3px; font-size: 13px; color: #77939f; }
.footer__top .col-3 .col-date + .col-text { margin-top: 20px; }
.footer__top .col-2 li a:hover { color: #218872; }
.footer__bot { padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #e3e5e6; }
.footer__bot p { float: left; font-size: 13px; color: #b8c6cd; text-transform: uppercase; }
.footer__bot p + p { float: right; color: #78909c; }
.footer__bot p + p a { color: #30c6a5; }
.footer__bot p + p a:hover { color: #218872; }
