@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?hxjmz4');
	src:url('fonts/icomoon/icomoon.eot?#iefixhxjmz4') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.ttf?hxjmz4') format('truetype'),
		url('fonts/icomoon/icomoon.woff?hxjmz4') format('woff'),
		url('fonts/icomoon/icomoon.svg?hxjmz4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e601";
}
.icon-dribbble:before {
	content: "\e602";
}
.icon-pinterest:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-behance:before {
	content: "\e606";
}
.icon-vimeo-square:before {
	content: "\e600";
}